################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppDemo1Repo/.vs
/AppDemo1Repo/AppDemo1Repo/bin/Debug/netcoreapp2.1
/AppDemo1Repo/AppDemo1Repo/obj
